@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Comfortaa:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e9eeff;
}

#navbar {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    flex-direction: row;
    align-items: flex-start;
    gap: 3rem;
}

#logo {
    position: relative;
    width: 12rem;
    left: 1rem;
    top: 1rem;
}

#navbar-wrap {
    display: inline-flex;
    position: relative;
    border-bottom-left-radius: 20px;
    background-color: rgb(18, 123, 62);
    width: 45rem;
    height: 5rem;
    min-width: fit-content;
    padding: 1rem;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}

#search-bar {
    display: inline-flex;
    justify-content: center;
    width: fit-content;
    margin: 0.5rem;
    height: 20px;
    align-items: center;
}

#search-bar input[type="text"] {
    padding: 0.5rem;
    border-radius: 15px;
    margin-right: 0.2rem;
    border: 2px solid black;

}

#search-bar button {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    padding: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #555;
    width: 1rem;
    height: 1rem;
    color: #fff;
    cursor: pointer;
}

#search-bar button:hover {
    background-color: #777;
}